<h2>Movie List</h2>

<a [routerLink]="['new']">Add a new movie</a><br><br>


<table border="1">
  <tr>
    <th>Movie Title</th>
    <th>Action</th>
    <!-- <th>Avg Star Rating</th> -->
  </tr>
  <tr *ngFor= "let movie of movies">
    <td>{{movie.movie_name}}</td>
    <td> <button [routerLink]="['display', movie._id]">Read Reviews</button> | 
      <button [routerLink]="['review', movie._id]">Write a Review</button>
    <!-- <td><button>Average: {{calculatedAverage(MyData)}}</button></td>  -->
    </tr>
</table>
